<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.courr.dongseob.greenfarm">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/sangini"
        android:label="부산대 그린팜"
        android:roundIcon="@mipmap/sangini"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Egg.lymActivity"></activity>
        <activity android:name=".Egg.lswBottomDialogActivity" />
        <activity android:name=".Egg.lwBottomDialogActivity" />
        <activity android:name=".Egg.kdsBottomDialogActivity" />
        <activity android:name=".Egg.EGG1Activity" />
        <activity android:name=".WalK.WalkActivity" />
        <activity android:name=".BoothExperience.TopiatyActivity" />
        <activity android:name=".CapstoneTool.Capstone31Activity" />
        <activity android:name=".Lol_bottomdialogActivity" />
        <activity android:name=".My.PointerActivity" />
        <activity android:name=".BoothExperience.SikhyeActivity" />
        <activity android:name=".BoothExperience.DrawingActivity" />
        <activity android:name=".BoothExperience.SlimeActivity" />
        <activity android:name=".BoothExperience.MaskActivity" />
        <activity android:name=".BoothExperience.EarringActivity" />
        <activity android:name=".BoothExperience.HamburgerActivity" />
        <activity android:name=".BoothExperience.YogurtActivity" />
        <activity android:name=".StartExplain.StartExplanActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Menu" />
        <activity android:name=".Lab" />
        <activity android:name=".Present" />
        <activity android:name=".ClassActivity.ReserveActivity" />
        <activity android:name=".BoothExperience.VRActivity" />
        <activity android:name=".BoothExperience.DroneActivity" />
        <activity android:name=".ClassActivity.GetPresentActivity" />
        <activity android:name=".ClassActivity.CouponActivity" />
        <activity android:name=".ClassActivity.ExplainActivity" />
        <activity android:name=".ClassActivity.GetCoffeeActivity" />
        <activity android:name=".Class.ZxingActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".NonActivity.DoctorfishActivity" />
        <activity android:name=".BoothExperience.Non2019.PictureActivity" />
        <activity android:name=".BoothDisplay.Non2019.LocalfoodActivity" />
        <activity android:name=".BoothExperience.Non2019.RicecakeActivity" />
        <activity android:name=".BoothExperience.Non2019.CheeseActivity" />
        <activity android:name=".NonActivity.JuiceActivity" />
        <activity android:name=".BoothExperience.Non2019.TofuActivity" />
        <activity android:name=".BoothExperience.FlowerActivity" />
        <activity android:name=".BoothExperience.DiffuserActivity" />
        <activity android:name=".BoothExperience.Non2019.HumidifierActivity" />
        <activity android:name=".BoothExperience.Non2019.RosemistActivity" />
        <activity android:name=".NonActivity.GreencarActivity" />
        <activity android:name=".BoothExperience.Non2019.CandleActivity" />
        <activity android:name=".BoothExperience.Non2019.SoapActivity" />
        <activity android:name=".BoothExperience.TerrariumActivity" />
        <activity android:name=".MyActivity" />
        <activity android:name=".My.MyticketActivity" />
        <activity android:name=".My.MyreservationActivity" />
        <activity android:name=".My.AlramActivity" />
        <activity android:name=".CapstoneActivity" />
        <activity android:name=".BoothExperience.Non2019.GlobalfoodActivity" />
        <activity android:name=".BoothDisplay.Non2019.FarmActivity" />
        <activity android:name=".LabTool.Lab1Activity" />
        <activity android:name=".LabTool.Lab2Activity" />
        <activity android:name=".LabTool.Lab3Activity" />
        <activity android:name=".LabTool.Lab4Activity" />
        <activity android:name=".LabTool.Lab5Activity" />
        <activity android:name=".LabTool.NON2019.Lab6Activity" />
        <activity android:name=".LabTool.NON2019.Lab7Activity" />
        <activity android:name=".CapstoneTool.Capstone1Activity" />
        <activity android:name=".CapstoneTool.Capstone2Activity" />
        <activity android:name=".CapstoneTool.Capstone3Activity" />
        <activity android:name=".CapstoneTool.Capstone4Activity" />
        <activity android:name=".CapstoneTool.Capstone5Activity" />
        <activity android:name=".CapstoneTool.Capstone6Activity" />
        <activity android:name=".CapstoneTool.Capstone7Activity" />
        <activity android:name=".CapstoneTool.Capstone8Activity" />
        <activity android:name=".CapstoneTool.Capstone9Activity" />
        <activity android:name=".CapstoneTool.Capstone10Activity" />
        <activity android:name=".CapstoneTool.Capstone11Activity" />
        <activity android:name=".CapstoneTool.Capstone12Activity" />
        <activity android:name=".CapstoneTool.Capstone13Activity" />
        <activity android:name=".CapstoneTool.Capstone14Activity" />
        <activity android:name=".CapstoneTool.Capstone15Activity" />
        <activity android:name=".CapstoneTool.Capstone16Activity" />
        <activity android:name=".CapstoneTool.Capstone17Activity" />
        <activity android:name=".CapstoneTool.Capstone18Activity" />
        <activity android:name=".CapstoneTool.Capstone19Activity" />
        <activity android:name=".CapstoneTool.Capstone20Activity" />
        <activity android:name=".CapstoneTool.Capstone21Activity" />
        <activity android:name=".CapstoneTool.Capstone22Activity" />
        <activity android:name=".CapstoneTool.Capstone23Activity" />
        <activity android:name=".CapstoneTool.Capstone24Activity" />
        <activity android:name=".CapstoneTool.Capstone25Activity" />
        <activity android:name=".CapstoneTool.Capstone26Activity" />
        <activity android:name=".CapstoneTool.Capstone27Activity" />
        <activity android:name=".CapstoneTool.Capstone28Activity" />
        <activity android:name=".CapstoneTool.Capstone29Activity" />
        <activity android:name=".CapstoneTool.Capstone30Activity" />
        <activity android:name=".My.MyBoothActivity" />
        <activity android:name=".ClassActivity.Reserve246Activity" />
        <activity android:name=".ClassActivity.Reserve1357Activity" />
        <activity android:name=".ClassActivity.Reserve1234Activity" />
        <activity android:name=".ClassActivity.Reserve123456Activity" />
        <activity android:name=".BoothExperience.Non2019.EcobagActivity" />
        <activity android:name=".BoothDisplay.Non2019.PlantActivity" />
        <activity android:name=".BoothExperience.EnergybarActivity" />
        <activity android:name=".BoothExperience.CanActivity" />
        <activity android:name=".BoothExperience.Non2019.SandwichActivity" />
        <activity android:name=".ClassActivity.PopcornActivity" />
        <activity android:name=".ClassActivity.CoffeeActivity" />
        <activity android:name=".My.MasterActivity" />
        <activity android:name=".My.MychatActivity" />
        <activity android:name=".Class.MasterchatlistActivity" />
        <activity android:name=".UseExplain.UseExplainActivity" />
    </application>

</manifest>